<!-- src/app/components/students-list/students-list.component.html -->
<div class="container mt-4">
  <h2>Lista de Alumnos</h2>
  <br>
  <a routerLink="/students/create" class="btn btn-primary">Agregar Alumno</a>
  <br>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Nombre</th>
      <th>Fecha Nacimiento</th>
      <th>Telefono</th>
      <th>Dirección</th>
      <th>Email</th>
      <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let student of students">
      <td>{{ student.id }}</td>
      <td>{{ student.name }}</td>
      <td>{{ student.birthdate }}</td>
      <td>{{ student.phone }}</td>
      <td>{{ student.address }}</td>
      <td>{{ student.email }}</td>
      <td>
        <a routerLink="/students/edit/{{ student.id }}" class="btn btn-success m-2">Editar</a>
        <button class="btn btn-danger" (click)="deleteStudent(student.id)">Eliminar</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
