<nav class="navbar navbar-expand-lg text-bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand text-white" href="#">CJava - PC 04</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon text-white"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active text-white" routerLink="" >Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" routerLink="students">Alumnos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-white" routerLink="courses">Cursos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  active text-white" routerLink="enrollments">Matricula</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
